
<style></style>
<body ng-controller="dashboardController.js">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand" href="" >BugTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href=""> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""> Pricing </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="" ng-click="openLargeModal('lg')">Reports</a>
                  
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
        </ul> 
      </div>
      <div class="collapse navbar-collapse" >
              <form class="form-inline">
                <input class="form-control mr-lg-2" type="search" placeholder="Search your bugs" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
      </div>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
             <!-- <button type="submit" class="btn btn-success" ng-if="role==true" ng-model="role" ng-click="createOrgForm()" > Create </button> -->
        </li>
        <li class="nav-item">
              <!-- <button type="submit" class="btn btn-success " ng-if="isAdmin" ng-click="addUserForm()" ng-model="isAdmin" > Add Members</button> -->
        </li>
        <!-- <li class="nav-item">
              <button type="submit" class="btn btn-success " ng-if="!role" ng-click="bugsForm()" ng-model="role" > Issues</button>
        </li> -->
      </ul>
    
    
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ownername}}
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="">{{useremail}}</a>
                <!-- <a class="dropdown-item" href="" ng-click="openModal()">Profile</a> -->
              <a class="dropdown-item" href="">Settings</a>
              <a class="dropdown-item" ng-click="logout()">Logout</a>
            </div>
        </li>
      </ul>
    </div>
    </nav>



    <div class="container-fluid">
      
      <uib-tabset active="activePill" justified="true" vertical="true" type="pills">
        <uib-tab index="0" ng-init="getOrg()" heading="Organizations">

          <div >
            <div>
              <div style="margin-top:20px ;" >
                <div class="row">
                    <div class="col-sm-3" ng-repeat="name in orgNameValues">
                      <div class="card" style="width:auto; height: auto;">
                        <img class="card-img-top" src="https://st3.depositphotos.com/5161043/15749/v/600/depositphotos_157496038-stock-illustration-technology-circle-logo-symbols-vector.jpg" alt="" style="width:100%">
                          <div class="card-body">
                            <h1 class="card-title" style="text-align:center ;" >{{name}}</h1>
                            <div class="card-footer text-center">
                              <button href="" class="btn btn-primary" ng-click="openOrgModal(name)">View Details</button>
                            </div>
                                
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </uib-tab>



        
      </uib-tabset>
    </div>
    
   



</body>
