<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #d2e5fa;
  }


  
  </style>

<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand" href="" >
          BugTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#!/dashboard"> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" >
                  <a class="nav-link" href="" ng-click="openAdminModal('lg')" >Reports</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="">Bugs</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
        </ul> 
      </div>
      <div class="collapse navbar-collapse" >
              <form class="form-inline">
                <input class="form-control mr-lg-2" type="search" placeholder="Search your bugs" aria-label="Search">
                <button class="btn btn-outline-light my-4 my-sm-2" type="submit">Search</button>
              </form>
      </div>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
             <!-- <button type="submit" class="btn btn-success" ng-if="role==true" ng-model="role" ng-click="createOrgForm()" >  </button> -->
        </li>
        <li class="nav-item">
              <!-- <button type="submit" class="btn btn-success " ng-if="isAdmin" ng-click="addUserForm()" ng-model="isAdmin" > </button> -->
        </li>
        <!-- <li class="nav-item">
              <button type="submit" class="btn btn-success " ng-if="!role" ng-click="bugsForm()" ng-model="role" > Issues</button>
        </li> -->
      </ul>
    
    
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ownername}}
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="">{{useremail}}</a>
              <!-- <a class="dropdown-item" href="" ng-click="openModal()">Profile</a> -->
              <a class="dropdown-item" href="">Settings</a>
              <a class="dropdown-item" ng-click="logout()">Logout</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container-fluid">

    <uib-tabset active="activePill" type="pills" justified="true">
      <uib-tab index="0" ng-init="getOrgMembers()" heading="MEMBERS">
        <div class="panel panel-primary	" style="margin-top: 30px;">
          <div class="panel-heading">Members</div>
          <div class="panel-body">
            
            <table>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
              <tr ng-repeat="users in orgUsers">
                <td>{{users.username}}</td>
                <td>{{users.email}}</td>
                <td>{{users.role}}</td>
                <td>
                  <button class="btn btn-primary">view Profile</button>
                  <button class="btn btn-danger">Remove</button>
                  <button class="btn btn-warning">Modify Permissions</button>
                </td>
              </tr>
            </table>
          </div>
        </div> 
    </uib-tab>
      <uib-tab index="1"  heading="PROJECTS" >
        <div class="panel panel-primary	" style="margin-top: 30px;">
          <div class="panel-heading">Projects</div>
            <div class="panel-body">
              <div ng-include="views/generals/project.html"></div>
            </div>
          </div>
  
      </uib-tab>
      <uib-tab index="2" heading="Create Project Manager">
        <div class="container">
          <div class="panel" style="margin-top: 30px;">
              <div class="panel-body">
                  <div class="row">
                      <div class="col-sm-6 col-md-6 col-md-offset-3">
                          <form method="post" role="form" autocomplete="off" >

                              <div class="row">
                                <label>Name</label>
                                <input class="form-control" type="text" name="pmName" id="pmName" ng-model="pmName">

                                <label>Email</label>
                                <input class="form-control" type="text" name="pmEmail" id="pmEmail" ng-model="pmEmail">

                                <label>Select Member</label><br>
                                  <select class="form-control selectpicker" multiple ng-model="userId">
                                      <option ng-repeat="u in orgUsers" value="u._id">{{u.username}}</option>
                                  </select>

                              </div>
                              <div class="row">
                                  <button class="btn btn-success" ng-click="createProjectManager(pmName,pmEmail,userId)">Create </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </uib-tab>
      
      
      <uib-tab index="3" heading="ADD MEMBER">
        <div class="container" style="margin-top: 30px;">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                
                <div class="col-sm-6 col-md-6 col-md-offset-3"  >
                
                  <form  name="userRegisterForm" role="form" autocomplete="off" novalidate >
      
                    <div class="form-group">
                        <label>Name of user</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter the name" ng-model="uname" required>
                        <br>
                        <p style="color:red" ng-show="userRegisterForm.username.$invalid && userRegisterForm.username.$touched">Name is required</p>
                          
                        <label >Username</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address" ng-model="em" required>
                        <br>
                        <p style="color:red" ng-show="userRegisterForm.email.$invalid && userRegisterForm.email.$touched">Enter a valid email address</p>
        
                        <label >Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Create temporary password" ng-model="pwd" required>
                        <br>
                        <p style="color:red" ng-show="userRegisterForm.password.$invalid && userRegisterForm.password.$touched">Please provide password</p>
  
                    
                        
                        <p style="color:red" ng-show="userRegisterForm.teamname.$invalid && userRegisterForm.teamname.$touched">Team Name is required</p>
                        <br>
                        <label >Organization</label>
                        <input type="text" class="form-control" name="orgname" id="orgname" placeholder="Organization" ng-model="orgname" required>
                        <br>
                    </div>
                    <!-- <div>{{uname}},{{em}},{{pwd}},{{tmname}}</div> -->
                    <button type="submit" class=" btn btn-success" ng-click="createUser(uname,em,pwd,orgname)" >Register</button>
                      <!-- ng-disabled="userRegisterForm.email.$invalid || userRegisterForm.password.$invalid"  -->
                    <div class="alert alert-danger" role="alert" ng-show="invalidAlert" >Invalid Credentials!</div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ng-click="createUser()" -->
        </div>
  
  
      </uib-tab>
  
    </uib-tabset>
  
  
  </div>



</body>
