<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
    tr:nth-child(even) {
    background-color: #d2e5fa;
  }
</style>


<body ng-controller="dashboardController.js">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand" href="" >
          BugTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#!dashboard"> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=""></a>
                </li>
        </ul> 
      </div>
      <div class="collapse navbar-collapse" >
              <form class="form-inline">
                <input class="form-control mr-lg-2" type="search" placeholder="Search your bugs" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
      </div>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
       
      </ul>
    
    
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ownername}}
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="">{{useremail}}</a>
                <a class="dropdown-item" href="" ng-click="openModal()">Profile</a>
              <a class="dropdown-item" href="">Settings</a>
              <a class="dropdown-item" ng-click="logout()">Logout</a>
            </div>
        </li>
      </ul>
    </div>
    </nav>


    <div class="container-fluid" ng-init="showProjects()">
      <uib-tabset active="activePill" type="pills" justified="true">
        <uib-tab index="0" heading="Project"    >

          <div style="margin-top:20px ;" >
            <div class="row">
                <div class="col">
                  <div class="card" style="width:100%; height: auto;">
                    <div class="card bg-dark text-light">
                      <div class="card-body" >
                        <h1 class="card-title" style="text-align:center;">{{userProjectName}}</h1>
                       
                        <div uib-collapse="isCollapsed">
                          <div class="well well-lg text-dark">
                            <h2 class="card-text">Description: {{userProjectDescription}}</h2>
                            <h3>Project Manager: {{userProjectManager}}</h3>
                            <p>StartDate : {{userProjectStartDate}} </p>
                            <p>Deadline: {{userProjectDeadline}}</p>
                            <div>Number of bugs: {{bugsLength}}</div>
                        </div>

                          </div>
                          
                            
                      </div>
                    </div>
                      <div class="card-footer">
                        <button class="btn btn-secondary btn-lg" ng-click="isCollapsed = !isCollapsed" ><span class="glyphicon glyphicon-list"></span> View Details</button>
                        <!-- <button class="btn btn-warning" > Report Bug</button> -->
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </uib-tab>
      <uib-tab index="1" heading="Bugs">
          <div class="panel panel-primary	" style="margin-top: 30px;">
            <div class="panel-heading">Bugs Status</div>
              <div class="panel-body">
                
                <div>
                  <table class="table">
                    <thead class="thead">
                      <tr>
                        <th class="table-success">#</th>
                        <th class="table-info">Title</th>
                        <th class="table-danger">Priority</th>
                        <th class="table-warning">Status</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="bug in bugs">
                      <td>{{bug.listPosition}}</td>
                      <td>{{bug.title}}</td>
                      <td>{{bug.priority}}</td>
                      <td>{{bug.status}}</td>
                      
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </uib-tab>
          
     
        <uib-tab index="2" heading="Report Bug" >
              <div class="container-fluid"> 
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-md-offset-3">
                        <form method="post">
                                  <div class="row">
                                    <label>Project Name</label>
                                      <select class="form-control selectpicker" ng-model="projectName">
                                        <option ng-repeat="project in userProject" value={{project._id}}>{{userProjectName}}
                                        </option>
                                    </select>
                                  </div>
                                  <div class="row">
                                      <label>Bug Title</label>
                                      <input type="text" class="form-control" ng-model="bugTitle">
                                  </div>

                                  <div class="row">
                                    <label>List Posistion</label>
                                    <input type="number" class="form-control" ng-model="bugListPosition">
                                </div>
                                <div class="row">
                                  <label>Estimate in Hours</label>
                                  <input type="number" class="form-control" ng-model="bugEstimate">
                                </div>
                                  <div class="row">
                                      <label> Descripition </label>
                                      <br><textarea name="description" class="form-control" ng-model="bugDescription"> 
                                      </textarea>
                                  </div>
                                 
                                  <br>
                                  <div class="row">
                                      <label>Priority</label><br>
                                      <select class="form-control selectpicker" ng-model="bugPriority">
                                      
                                          <option value="HIGH">High</option>
                                          <option value="MEDIUM">Medium</option>
                                          <option value="LOW">Low</option>
                                      </select>                 
                                  </div>
                    
                                  <br>
                                  <div class="row">
                                      <label>Status</label>
                                      <select class="form-control selectpicker" ng-model="bugStatus">
                                          <option value="NOT-STARTED">Not Started</option>
                                          <option value="WORKING">Working</option>
                                          <option value="TESTING">Testing</option>
                                          <option value="CLOSED">Closed</option>
                                          <option value="REOPENED">Reopened</option>
                                      </select>
          
                                  </div>
                                  <br>
                      
                                  <div class="row">         
                                      <button type="submit" class="btn btn-warning"
                                        ng-click="reportBug(projectName,bugTitle,bugDescription,bugListPosition,bugEstimate,bugPriority,bugStatus)" 
                                      ><span class="glyphicon glyphicon-plus"></span> Report</button>               
                                  </div>

                              </form>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
        </uib-tab>
        
    </div>      
</body>









<!-- m
<ng-form name="bugForm">
              <div class="form-group" style="margin-top: 30px;">
                <label>Bug</label>
                <input type="text" class="form-control" placeholder="Bug" required ng-model="model.name"/>
                <label>Project Name</label>
                <input type="text" class="form-control" placeholder="Project Name" required ng-model="model.projectname"/>
                <label>Description</label>
                <input type="text" size="30px" class="form-control" placeholder="Describe the issue"
                 required ng-model="model.description" style="height:100px"/>
              </div>
              <button class="btn btn-warning">Submit</button>
            </ng-form> -->
